:root {
  --navbar-height: 100px; /* Adjust this value according to the actual height of your navbar */
  --footer-height: 100px; /* Adjust this value according to the actual height of your footer */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #85c7a9;
}

.category-section {
  margin-top: 20px;
  padding-top: 20px;

  text-align: center;
}

.category-links {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 20px;
}

.category-link {
  width: 250px;
  height: 160px;
  text-decoration: none;
  color: white;
  display: block;
  border-radius: 20px;
}

.category-image {
  width: 100%;
  border-radius: 20px;

  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.category-text {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: adds a semi-transparent background to the text */
  padding: 10px;
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 20px; /* Adjust the radius value as needed */
  border-bottom-right-radius: 20px;
}
.App {
  font-family: "Roboto", sans-serif;
  background-color: #85c7a9;
  margin-top: var(--navbar-height);
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.emptyimage {
  width: 100%;
  border-radius: 10px;
}

.emptycart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.carth1 {
  margin-bottom: 10px;
}
.cart {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #879f94;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart-header {
  text-align: center;
  margin-bottom: 20px;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-checkout {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.subtotal {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.cart-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .cart {
    padding: 10px;
  }

  .cart-checkout {
    padding: 10px;
  }
}

.herosection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #85c7a9;
  margin-bottom: 10px;
  margin-top: 0px;
  gap: 20px;
}

.imagesection {
  flex: 1;
  display: flex;
  height: 100%;
  margin-left: 2px;
}

.imagesection img {
  max-height: 100%;
  width: auto;
  max-width: 100%;
  border-radius: 20px;
}

.textsection {
  margin: 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-family: "Cursive", "Lucida Console", "Courier New", monospace;
}

.subtitle {
  font-size: 1.5rem;
  color: #666;
}

.playfair-display {
  font-family: "Courier New", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.buttontext {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1rem;
  font-style: normal;
}
.category-section {
  margin: 20px 0;
}

.category-title {
  font-family: "Lucida Console", monospace;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.category-links {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Space between buttons */
}
.category-button {
  font-family: Arial, Helvetica, sans-serif; /* Ensure consistent font style within buttons */
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 20px; /* Adjust padding for better button appearance */
  border: 2px solid #4caf50; /* Outline color */
  border-radius: 20px;
  background-color: white; /* Background color */
  color: #4caf50; /* Text color */
  cursor: pointer; /* Change cursor to pointer on hover */
  transition: background-color 0.3s, color 0.3s; /* Add transition effects */
}

.category-button:hover {
  background-color: #4caf50; /* Background color on hover */
  color: white; /* Text color on hover */
}

.navbar {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  box-shadow: 0px 20px 20px -5px rgba(0, 0, 0, 0.2),
    0px 8px 10px -3px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  padding: 10px;
  z-index: 1;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
  margin-right: 20px;
  padding-left: 0;
  color: rgb(21, 75, 32);
  font-size: 1.5rem;
  font-family: "Cursive", "Lucida Console", "Courier New", monospace;
}

.logo {
  border-radius: 100%;
  /* will-change: filter;
  transition: filter 300ms ease; */
}

.logo:hover {
  filter: brightness(1.2);
}

/*@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.content {
  flex: 1;
  overflow: auto;
  padding-bottom: var(
    --footer-height
  ); /* Ensure content is not hidden behind the footer */
}

.footer {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  color: rgb(21, 75, 32);
  padding: 1em 0;
  font-size: 1.8em;
  font-size: 1.5rem;
  font-family: "Cursive", "Lucida Console", "Courier New", monospace;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
}

.footer a {
  color: rgb(21, 75, 32);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Additional CSS rules */
.countHandler input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
}

.ButtonContainer {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.navsection {
  display: flex;
  gap: 20px;
}

.cart-container {
  padding: 10px;
  height: fit-content;
  width: 100vw;
  padding-top: 1em;
  overflow: scroll;
  gap: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  margin-left: 50px;
  margin-right: 50px;
}

.ProductListPage,
.product-info {
  margin: 4.5em;
}

.products-grid {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
}

a {
  text-decoration: inherit;
}

.product-div {
  margin: 20px;
  padding: 20px;
  display: flex;
  align-items: flex-start; /* Align items at the top */
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  height: 400px; /*set height for products container */
}
.images-div {
  flex: 0 0 40%; /* Set fixed width for images-div */
  max-width: 40%; /* Ensure images-div doesn't exceed 40% of parent */
  max-height: 400px; /* Limit height to 400px */
  padding-right: 20px; /* Add padding for spacing */
  overflow: hidden; /* Hide overflow to maintain aspect ratio */
  border-radius: 5px; /* Rounded corners */
}
.images-div img {
  width: auto; /* Maintain aspect ratio */
  height: 100%; /* Ensure the image fills its container */
  display: block;
  max-height: 300px; /* Limit max height of each image*/
  max-width: 100%; /* Prevent image overflow */
  border-radius: 5px; /* Optional: Rounded corners */
  object-fit: cover; /* Cover the area while maintaining aspect ratio */
  border-radius: 10px;
  padding: 10px;
}

.product-div:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.product-div p {
  color: #666;
}

.details-div {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1; /* Take remaining space */
}

.details-div p {
  margin: 5px 0;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #fff;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.buttons-div {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
}

.not-found {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found > img {
  width: 50vw;
  height: 80vh;
}

.btn-primary {
  background-color: var(--primary-color);
  color: black;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #dc3545;
}

.btn-secondary {
  border: 1px solid transparent;
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.btn-secondary:hover {
  border-color: #646cff;
}

.form-page {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  margin: 0;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-div {
  display: flex;
}

.main-info,
.description-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description-div {
  margin-left: 30px;
}

.form label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

.form input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  width: 20%;
  padding: 12px;
  margin-top: 20px;
  color: #fff;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #06d6a0;
}
