.ButtonContainer {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.card {
  margin: 100px;
}
/* CSS reset */
* {
  padding: 0;
  box-sizing: border-box;
}

/* Base styles for the entire application */
.App {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff; /* Light background */
}

/* Navbar styles */
.navbar {
  background-color: rgb(26, 101, 67);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 10px;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 0;
  padding-left: 0;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1.2rem;
}

.logo {
  margin: 0 0.5em;
  padding: 0.2em;
  border-radius: 50%;
  will-change: filter;
  transition: filter 300ms ease;
}

.logo:hover {
  filter: brightness(1.2);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Page content styles */
.ProductListPage,
.product-info {
  margin: 4.5em;
}

.products-grid {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  align-items: center;
}

a {
  text-decoration: inherit;
}

.product-div {
  margin: 20px;
  padding: 50px;
  display: flex;
  justify-content: left;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
 }
 

.product-div:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.images-div img {
  width: 100%;
  height: auto;
  display: block;
}

.product-div p {
  color: #666;
}

.details-div {
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.details-div p {
  margin: 5px 0;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #fff;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}
.buttons-div {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}

.not-found {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found > img {
  width: 50vw;
  height: 80vh;
}

/* Primary Button */
.btn-primary {
  background-color: var(--primary-color);
  color: black;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #dc3545;
}

/* Secondary Button */
.btn-secondary {
  border: 1px solid transparent;
  color: var(--primary-color);
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.btn-secondary:hover {
  border-color: #646cff;
}

.form-page{
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.content-div {
  display: flex;

}

.main-info, .description-div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.description-div{
  margin-left: 30px;

}

.form label {
  display: block;
  margin-bottom: 10px;
  color: #666;
}

.form input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  width: 40%;
  padding: 12px;
  margin-top: 20px;
  background-color: #118ab2;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form button:hover {
  background-color: #06d6a0;
}

.footer {
  position: fixed;
  left:0;
  bottom: 0;
  width: 100%;
  background-color:#1A6543;
  color: whitesmoke;
  padding: 0.1em 0;
  text-align: center;
  font-size: 0.8em;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
 
}
.footer-items {
  display: flex;
  justify-content: space-between;
}

.footer a {
  color: whitesmoke;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}